name: Release

on:
  workflow_call:
    inputs:
      publish:
        required: false
        type: boolean
        default: true
      build:
        required: false
        type: string
        default: pnpm run build

jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write

    steps:
      - name: Setup JS
        uses: so1ve/workflows/setup-js@v1
        with:
          fetch-all: true

      - name: Build
        run: ${{ inputs.build }}
        if: ${{ inputs.build && inputs.publish }}

      - name: Publish to NPM
        run: pnpm -r publish --access public --no-git-checks
        if: ${{ inputs.publish }}

      - name: Generate GitHub Changelog
        run: pnpm dlx changelogithub
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
