name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    if: github.repository == 'so1ve/workflows'
    uses: so1ve/workflows/.github/workflows/release.yml@v1
    permissions:
      contents: write
      id-token: write
    with:
      publish: false
