name: Release Commit to pkg.pr.new

on:
  workflow_call:
    inputs:
      build:
        required: false
        type: string
        default: pnpm run build
      compact:
        required: false
        type: boolean
        default: true
      packages:
        required: false
        type: string
        default: ""
      working-directory:
        required: false
        type: string
        default: "."

jobs:
  release-commit:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}

    steps:
      - name: Setup JS
        uses: so1ve/workflows/setup-js@v1
        with:
          fetch-all: true
          working-directory: ${{ inputs.working-directory }}

      - name: Build
        run: ${{ inputs.build }}

      - name: Publish
        run: pnpm dlx pkg-pr-new@0.0 publish --pnpm ${{ inputs.compact && '--compact' || '' }} ${{ inputs.packages }}
